nav{
   position: sticky;
   top: 0px;
   max-width: 100%;
   z-index: 1000;
}
body{
   max-height: fit-content;
   max-width: 100%;
}

.backPage{
   height: auto;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.87), lightgray);
}



.Menubar ul{
   display: inline-flexbox;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
   margin-top: 90px;
   background-color: white; 
   color: darkred;
   align-items: center;
}

.Menubar li{
   list-style-type: none;
   display: inline;
   border: outset rgb(99, 99, 99);
   border-radius: 50px;
   padding-right: 75px;
   padding-left: 75px;
   margin-top: 90px;
   background-color: white;
   text-align: center;
   color: darkred;
   }

ol {list-style-type: circle;}

form {align-items: flex-start;}

.Subt {color: black;font-size: 40px;}

.colortext {color: darkred;}

.Logoone {
   list-style-type: none;
   position: relative;
   background-color: white;
   height: 300px;
   width: 100%;
}

#logoFull{
   height: 100%;
   width: 100%;
}

.imgHome {
   list-style-type: none;
   display: inline-flexbox;
   background-color: white;
   height: 300px;
   width: 900px;
   z-index: 0;
}

.Reminder1 {font-family: cursive;text-align: justify;font-size: larger;font-weight: 900;}

a {text-decoration: none; color: black;}

footer {
   max-width: 100%;
   background-color: rgba(119, 119, 119, 0.384);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgHome1 {
   display: inline-flexbox;
   position: relative;
   padding: 20px;
   margin: 10px;

}

.imageCarr{
   max-width: 100%;
   max-height: 100%;
}

#whatssButton{
   position: sticky;
   max-width: 30px;
   max-height: 30px;
   align-content: center;
   background-image: none;
   right: 10px;
   bottom: 30px;
}
.wspButton{
   max-width: 30px;
   max-height: 30px;
}

.buyImgShop{
   height: 200px;
   width: 200px;
}

.gridHome{
   display: grid;
   height: 500px;
   width: 100%;
   object-fit: contain;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 400px;
      grid-template-areas:  "texto 1" "foto 1" "foto 2";
      justify-items: center;
}

.textGridHome{
   display: flexbox;
   height: 100%;
   width: 100%;
   object-fit: contain;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 350px;
      grid-template-areas: "texto 1"
                           "texto 2"
}

.gridShop{
   display: grid;
   align-content: center;
   max-height: max-content;
   width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px;
      grid-template-areas: "foto 1" "foto 2" "foto 3"
                           "foto 4" "foto 5" "foto 6";
   align-content: space-around;             
}

.gridExp{
   display: grid;
   align-content: center;
   max-height: max-content;
   width: 100%;
   background-image: linear-gradient(to left rgb(243, 198, 219), grey);
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 300px 300px;
      grid-template-areas: "exp 1" "exp 2"
                           "exp 3" "exp 4";
   align-content: space-around;             
}

#gridExpName{
   display: grid;
   align-content: center;
   max-height: max-content;
   width: 100%;
   background-color: rgb(224, 206, 206);
      grid-template-columns: 1fr;
      grid-template-rows: 30px;
      grid-template-areas: "title 1";
}

.gridExpTxt{
   display: grid;
   align-content: center;
   max-height: max-content;
   width: 100%;
   border: outset rgb(99, 99, 99);
   border-radius: 50px;
   text-align: justify;
   padding: 10px;
   margin: 10px;
   background-color: rgb(224, 206, 206);
      grid-template-columns: 1fr;
      grid-template-rows: 50px 200px;
      grid-template-areas: "title 1"
                           "text 1";
}

.itemShop{
   height: 400px;
   /* width: 80px; */
   object-fit: contain;
   overflow-y: scroll;
   /* text-align: justify; */
   
}

h3{
   font-family: Arial, Helvetica, sans-serif;
   font-display: fallback;
}

p{
   font-size: 20px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* XS SM */
@media only screen and (max-width: 320px) {
   .gridShop{
      display: grid;
      align-content: center;
      max-height: max-content;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 200px 200px 200px 200px 200px 200px;
      grid-template-areas: "foto 1"
                           "foto 2"
                           "foto 3"
                           "foto 4"
                           "foto 5"
                           "foto 6";
      align-content: space-around;
   }
}

/* md */
@media only screen and (mid-width: 600px) {
   .gridShop{
      display: grid;
      align-content: center;
      max-height: max-content;
      width: 100%;
      grid-template-columns: 50% 50%;
      grid-template-rows: 500px 500px 500px;
      grid-template-areas: "foto 1" "foto 2"
                           "foto 3" "foto 4"
                           "foto 5" "foto 6";
      align-content: space-around;
}}


/* lg */
@media only screen and (mid-width: 992px) {
   .gridShop{
      display: grid;
      align-content: center;
      max-height: max-content;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px;
      grid-template-areas:  "foto 1" "foto 2" "foto 3"
                            "foto 4" "foto 5" "foto 6";
      align-content: space-around; 
}}
