.textLooks, .textTitle, .textParr {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.textTitle {
  color: #d15858; }

.textParr {
  color: black; }
